html::-webkit-scrollbar-track {
    border: 7px solid #fff;
    background-color: #fff
}

html::-webkit-scrollbar-track:hover {
    background-color: #ececec
}

html::-webkit-scrollbar-thumb {
    background-color: #616161
}

html::-webkit-scrollbar-thumb:window-inactive {
    background-color: #949699
}

html {
    color: #151515
}

body,
pre {
    background-color: #f8f8f8
}

a,
a:hover,
.uk-navbar-nav>li.uk-active>a,
.uk-navbar-nav>li:hover>a,
ul.uk-article-summary-list li a:hover,
.uk-portal--content-section--blocks-entry:hover p,
.uk-article-summary a.active {
    color: #fe1804
}

ul.uk-navbar-nav>li:hover::after,
ul.uk-article-summary-list li a:hover.H3::before,
ul.uk-article-summary-list li a:hover.H3::after,
ul.uk-article-summary-list li a:hover.H4::before,
ul.uk-article-summary-list li a:hover.H4::after {
    background-color: #fe1905
}

::selection {
    background-color: #fff2ac
}

.uk-navbar-nav>li.uk-active {
    background-color: #ffece1
}

article p,
.uk-article-text li {
    color: #202124
}

blockquote {
    background-color: #f7fbff;
    border-color: #9bc9ff
}

blockquote p {
    color: #092e5a
}

pre {
    color: #333
}

.uk-article-meta {
    color: #7b7b7b
}

.uk-navbar-nav>li>a,
ul.uk-navbar-top li a {
    color: #4f5e81
}

form.uk-navbar-search input[type="search"] {
    background-color: #f5f5f5;
    border-color: transparent
}

form.uk-navbar-search input[type="search"]::placeholder {
    color: #939393
}

.uk-notices--entry:first-child,
.uk-notices--entry:first-child a {
    background-color: #f7f0e7;
    color: #ce7b2e
}

.uk-container.uk-articles article.uk-article,
form.uk-navbar-search input[type="search"]:focus,
form.uk-navbar-search input[type="search"]:active,
.uk-navbar-search-results {
    border-color: #e8e8e8
}

ul.uk-article-summary-list li a {
    color: #999
}

.uk-container.uk-articles article.uk-article .uk-margin {
    color: #424242
}

.uk-article-page .uk-articles-categories {
    background: #efefef
}

table,
thead th,
table td,
.uk-form select,
.uk-form textarea,
.uk-form input:not([type]),
.uk-form input[type="text"],
.uk-form input[type="password"],
.uk-form input[type="datetime"],
.uk-form input[type="datetime-local"],
.uk-form input[type="date"],
.uk-form input[type="month"],
.uk-form input[type="time"],
.uk-form input[type="week"],
.uk-form input[type="number"],
.uk-form input[type="email"],
.uk-form input[type="url"],
.uk-form input[type="search"],
.uk-form input[type="tel"],
.uk-form input[type="color"] {
    border-color: #d8d8d8
}

tr:hover {
    background: #d8d8d838
}

.uk-search-page span.uk-badge.uk-badge-info,
.uk-search-page button.uk-button.uk-button-primary,
.uk-article-title a {
    color: #000
}

.uk-search-page article.uk-article:nth-child(even) {
    background-color: #f3f3f3
}

.uk-search-page article.uk-article:hover,
.uk-search-page .uk-panel-box {
    background-color: #f0f0f0
}

.uk-portal--content-section--list ul li {
    border-color: #e4e4e6
}

ul.uk-article-summary-list li a.H3::before,
ul.uk-article-summary-list li a.H3::after,
ul.uk-article-summary-list li a.H4::before,
ul.uk-article-summary-list li a.H4::after {
    background: #8f8f8f
}

.uk-article-with-summary .uk-article-summary {
    border-left-color: #d2d2d2
}

:not(pre)>code,
:not(pre)>kbd,
:not(pre)>samp {
    color: #f0615c;
    border-color: #e5e5e5
}

.uk-article+.uk-article {
    border-top-color: #e5e5e5
}

h1,
h2,
h3,
h4,
h5,
h6,
.uk-articles .uk-article:hover .uk-margin-large-top a,
.uk-articles .uk-margin-large-top i,
.uk-article-title {
    color: #3a3a3a
}

form.uk-navbar-search input[type="search"]:focus,
form.uk-navbar-search input[type="search"]:active,
.uk-search-page button.uk-button.uk-button-primary {
    background-color: transparent
}

.uk-footer,
.uk-container.uk-articles article.uk-article,
.uk-navbar-search-results,
.tm-navbar,
.uk-form select,
.uk-form textarea,
.uk-form input:not([type]),
.uk-form input[type="text"],
.uk-form input[type="password"],
.uk-form input[type="datetime"],
.uk-form input[type="datetime-local"],
.uk-form input[type="date"],
.uk-form input[type="month"],
.uk-form input[type="time"],
.uk-form input[type="week"],
.uk-form input[type="number"],
.uk-form input[type="email"],
.uk-form input[type="url"],
.uk-form input[type="search"],
.uk-form input[type="tel"],
.uk-form input[type="color"],
.uk-secondary-navbar,
.roles>div,
.uk-article--bottom-bar {
    background-color: #fff
}

.uk-sitemap li a,
.uk-copyright,
.uk-disclaimer p,
.uk-sitemap li a {
    color: #5f6368
}

.roles>div ul,
.roles>div div {
    background-color: #f5f5f5
}

@media (prefers-color-scheme: dark) {
    html::-webkit-scrollbar-track {
        border: 7px solid #31313a;
        background-color: #31313a
    }

    html::-webkit-scrollbar-track:hover {
        background-color: #28282a
    }

    html::-webkit-scrollbar-thumb {
        background-color: #616161
    }

    html::-webkit-scrollbar-thumb:window-inactive {
        background-color: #949699
    }

    html::-webkit-scrollbar-thumb:hover {
        background-color: #fff
    }

    .roles>div {
        background-color: #00000036
    }

    .hljs-string {
        color: #99c3f2 !important
    }

    .hljs-number {
        color: #00dbff !important
    }

    .hljs-title,
    .hljs-attr,
    .hljs-selector-id,
    .hljs-selector-class,
    .hljs-selector-attr,
    .hljs-selector-pseudo {
        color: #fca8ff !important
    }

    html,
    body,
    .uk-form input:not([type="radio"]):not([type="checkbox"]).inputbox {
        background-color: #1b1c1d
    }

    ul.uk-navbar-nav>li:hover::after,
    ul.uk-article-summary-list li a:hover.H3::before,
    ul.uk-article-summary-list li a:hover.H3::after,
    ul.uk-article-summary-list li a:hover.H4::before,
    ul.uk-article-summary-list li a:hover.H4::after {
        background-color: #fe1905
    }

    ::selection {
        background-color: #fff2ac
    }

    article p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .uk-article-text li,
    code.hljs {
        color: #c6c7cc
    }

    blockquote,
    .uk-form select,
    .uk-form textarea,
    .uk-form input:not([type]),
    .uk-form input[type="text"],
    .uk-form input[type="password"],
    .uk-form input[type="datetime"],
    .uk-form input[type="datetime-local"],
    .uk-form input[type="date"],
    .uk-form input[type="month"],
    .uk-form input[type="time"],
    .uk-form input[type="week"],
    .uk-form input[type="number"],
    .uk-form input[type="email"],
    .uk-form input[type="url"],
    .uk-form input[type="search"],
    .uk-form input[type="tel"],
    .uk-form input[type="color"] {
        border-color: #27272f
    }

    .uk-form legend::after {
        border-bottom-color: #605d5d
    }

    .uk-article+.uk-article {
        border-top-color: transparent
    }

    pre {
        color: #e6e6e6;
        border-color: transparent
    }

    .uk-article-meta {
        color: #e6e6e6;
        border-color: #605d5d
    }

    form.uk-navbar-search input[type="search"],
    .uk-navbar-nav>li.uk-active {
        background-color: #1b1c1d;
        border-color: transparent
    }

    form.uk-navbar-search input[type="search"]::placeholder {
        color: #939393
    }

    .uk-notices--entry:first-child,
    .uk-notices--entry:first-child a {
        background-color: #f7f0e7;
        color: #ce7b2e
    }

    .uk-container.uk-articles article.uk-article,
    form.uk-navbar-search input[type="search"]:focus,
    form.uk-navbar-search input[type="search"]:active,
    .uk-navbar-search-results {
        border-color: #31313a
    }

    .uk-navbar-nav>li>a,
    ul.uk-navbar-top li a,
    ul.uk-article-summary-list li a,
    .uk-container.uk-articles article.uk-article .uk-margin,
    html {
        color: #999
    }

    .uk-footer,
    .uk-container.uk-articles article.uk-article,
    .uk-navbar-search-results,
    .tm-navbar,
    .uk-navbar,
    blockquote,
    pre,
    .uk-article-page .uk-articles-categories,
    .uk-search-page article.uk-article:hover,
    .uk-search-page .uk-panel-box,
    .uk-search-page article.uk-article:nth-child(even),
    .uk-form select,
    .uk-form textarea,
    .uk-form input:not([type]),
    .uk-form input[type="text"],
    .uk-form input[type="password"],
    .uk-form input[type="datetime"],
    .uk-form input[type="datetime-local"],
    .uk-form input[type="date"],
    .uk-form input[type="month"],
    .uk-form input[type="time"],
    .uk-form input[type="week"],
    .uk-form input[type="number"],
    .uk-form input[type="email"],
    .uk-form input[type="url"],
    .uk-form input[type="search"],
    .uk-form input[type="tel"],
    .uk-form input[type="color"],
    .tm-navbar::after,
    .uk-secondary-navbar {
        background-color: #151617
    }

    table,
    thead th,
    table td {
        border-color: #d8d8d8
    }

    tr:hover {
        background: #d8d8d838
    }

    .uk-portal--content-section--list ul li {
        border-color: #e4e4e6
    }

    ul.uk-article-summary-list li a.H3::before,
    ul.uk-article-summary-list li a.H3::after,
    ul.uk-article-summary-list li a.H4::before,
    ul.uk-article-summary-list li a.H4::after {
        background: #8f8f8f
    }

    .uk-article-with-summary .uk-article-summary {
        border-left-color: #3b3b3b
    }

    .uk-articles-categories div,
    .tm-logo.uk-responsive-height,
    .uk-brand.lhb-brand--small {
        filter: brightness(0) invert();
        opacity: .8
    }

    :not(pre)>code,
    :not(pre)>kbd,
    :not(pre)>samp {
        color: #f0615c;
        border-color: #f0615c
    }

    .roles>div ul,
    .roles>div div {
        background-color: #0000003d
    }

    a,
    a:hover,
    .uk-navbar-nav>li.uk-active>a,
    .uk-navbar-nav>li:hover>a,
    ul.uk-article-summary-list li a:hover,
    .uk-portal--content-section--blocks-entry:hover p,
    form.uk-navbar-search input[type="search"],
    blockquote p,
    .uk-article-text a,
    .uk-articles .uk-article:hover .uk-margin-large-top a,
    .uk-articles .uk-margin-large-top i,
    .uk-article-title,
    .uk-search-page span.uk-badge.uk-badge-info,
    .uk-search-page button.uk-button.uk-button-primary,
    .uk-article-title a,
    .uk-container.uk-articles .uk-article:first-child .uk-margin-large-top a,
    .uk-article-summary a.active {
        color: #fff
    }

    form.uk-navbar-search input[type="search"]:focus,
    form.uk-navbar-search input[type="search"]:active,
    .uk-search-page button.uk-button.uk-button-primary {
        background-color: transparent
    }

    .uk-sitemap li a,
    .uk-opensource,
    .uk-copyright,
    .uk-disclaimer p,
    .uk-sitemap li a {
        color: #5f6368
    }

    .uk-article--bottom-bar {
        background-color: #151617;
    }
}