html {
    font: normal 16px / 26px Heebo, "Helvetica Neue", Helvetica, Arial, sans-serif
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

header>div,
main,
footer>div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

header>div>a,
header>div>form,
header>div>ul {
    display: inline-table;
    vertical-align: middle;
}

header>div>ul {
    float: right;
    padding: 18px 0;
}

header>div>ul>li,
header>div>nav>ul>li {
    display: inline-table;
}

header>div>nav>ul>li.selected,
header>div>ul>li>a {
    border-radius: 20px;
    font-weight: 500;
}

header>div>a>img,
footer>div>div>a>img {
    height: 28px;
    margin: 13px 0 16px;
}

header>div>ul>li>a,
header>div>nav>ul>li>a {
    padding: 0 15px;
    font-size: 14.5px;
}

header>div>form {
    margin: -4px 0 0 10px;
    width: 30%;
    position: relative;
}

input,
textarea,
select,
fieldset,
button,
input[type="submit"] {
    border-radius: 5px;
    border: 0;
    padding: 10px 10px 9px;
    font-size: 16px;
    outline: none;
}

header>div>nav {
    padding: 5px 0 11px;
}

header>div>form>input {
    width: 100%;
    max-width: 340px;
    padding-left: 34px;
}

main>div>article {
    border-radius: 8px;
    padding: 50px 50px 80px;
    max-width: 48.2%;
    margin: 0 1.8% 17px 0;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .06);
    width: 100%;
    position: relative;
}

main>div {
    display: flex;
    flex-wrap: wrap;
}

main>div>article:first-child {
    max-width: initial;
}

main {
    margin-top: 30px;
    display: flex;
}

main>div>article>p {
    font-size: 19px;
    line-height: 1.66667;
}

main>div>article>h2+span {
    margin: 0 0 33px;
    display: block;
    font-size: 14px;
}

main>div>article>h2 {
    font-size: 22px;
    line-height: 1.46364;
    margin: 0 0 12px;
}

main>div>article:first-child>h2 {
    font-size: 29px;
}

main>div>article>a:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px 40px;
    font-weight: 500;
    font-size: 17px;
}

main>div>article>p {
    margin: 25px 0;
}

main>div>article>h2+span+p+div+span {
    position: absolute;
    font-size: 15px;
    opacity: .2;
    bottom: 0;
    left: 0;
    padding: 24px 48px;
}

.icon {
    width: 14px;
}

header>div>form>.icon {
    position: absolute;
    margin: 11px 0 0 10px;
    left: 0;
}

header>div>nav>ul>li {
    margin: 0 0 0 .4%;
}

main>div>article>a:last-child>.icon {
    position: relative;
    top: 2px;
    margin: 0 0 0 10px;
}

footer {
    padding: 40px 0 60px;
    margin: 60px 0 0 0;
}

footer>div>div>a+small {
    display: block;
    margin: 0 0 20px;
}

footer h3 {
    margin: 0 0 10px;
    font-size: 1.3em;
}

footer ul>li>a {
    padding: 4px 0;
    font-size: 14px;
    display: inline-block;
}

footer li span {
    height: 30px;
    display: block;
}

footer>div>div>a+small,
footer>div>div>small {
    display: block;
    margin: 0 0 5px;
    font-size: 12px;
}

footer>div {
    display: flex;
}

footer>div>div {
    flex: 1;
}

footer small+h3,
footer ul+h3 {
    margin-top: 20px;
}

footer>div>div>small:first-child {
    margin-top: 37px;
    line-height: 15px;
}

footer ul>li>a>img {
    margin: 0 7px 0 0;
    position: relative;
    top: 1px;
}

main>article>h1 {
    font-size: 2.3em;
    margin: .8em 0 12px;
    line-height: 48px;
}

main>article>h1+span {
    font-size: 14px;
    line-height: 27px;
    margin: 0 0 33px;
    opacity: .7;
}

main>article>div {
    margin: 25px 0;
}

main>article>div p,
main>article>div ul>li {
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: .85px;
    line-height: 1.9em;
    margin: 0 0 25px;
}

main>article>div h2,
main>article>div h3,
main>article>div h4 {
    margin: 35px 0 25px 0
}

main>article>div h2 {
    font-size: 28px;
    line-height: 36px;
}

main>article>div h3 {
    font-size: 22px;
    line-height: 34px;
}

main>article>div h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

main>article.hasSummary {
    max-width: calc(100% - 250px);
    border-right: 1px solid;
    margin: 0 20px 0 0;
    padding: 0 30px 0 0;
}

main>aside {
    max-width: 206px;
    padding: 60px 10px;
    position: sticky;
    top: 0;
    height: 10%;
}

main>aside>ul>li {
    padding: 0 0 16px;
}

main>aside>ul>li>a.H3::before {
    content: "- ";
}

main>aside>ul>li>a.H4::before {
    content: "-- ";
}

:not(pre)>code {
    border: 1px solid;
    border-radius: 3px;
    font-size: 14px;
    padding: 2px 5px;
}

pre,
blockquote {
    padding: 30px;
    font-size: 14px;
    overflow: auto;
    border: 1px solid;
    border-radius: 3px;
    margin: 0 0 30px;
}

main>article>div>blockquote>p {
    margin: 0;
}

blockquote {
    font-size: initial;
    font-style: italic;
    margin-top: 20px;
    padding: 20px 30px;
}

main>article>span+div {
    padding: 6px 13px;
    font-size: 14px;
    border-radius: 20px;
    margin-bottom: 0;
    width: fit-content;
}

main>div>ol:last-child>li {
    display: inline-table;
    margin: 0;
    padding: 0 10px 0 0;
}

main>article>div ul {
    list-style: disc;
    margin: 0 0 0 16px;
}

main>article>div ul>li {
    margin: 0 0 0px;
}

main>article>div a {
    border-bottom: 1px dashed;
}

main>article>div ul>li p {
    margin: 0;
}