article p,
.uk-article-text li {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: .9px;
    line-height: 31px
}

.uk-article-body p:hover {
    text-shadow: 0 0 20px #00000045
}

.uk-navbar-nav>li.uk-active a {
    border-bottom: 0
}

blockquote {
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    overflow: hidden;
    width: auto;
    padding: 5px 24px;
    margin: 10px 0 0
}

blockquote p {
    font-size: 18px;
    font-style: initial;
    margin: 18px 0
}

pre {
    font-size: 14px
}

.uk-responsive-height {
    position: relative;
    top: -4px;
    max-height: 34px
}

.uk-secondary-navbar {
    height: auto;
    text-align: center;
    padding: 15px 20px
}

.uk-navbar-nav>li.uk-active {
    border-radius: 20px
}

form.uk-navbar-search input[type="search"] {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin-top: 8px;
    min-width: 320px;
    padding: 13px 10px 12px 2.6em;
    position: relative;
    top: 2px;
    font-size: 16px;
    width: 100%;
}

form.uk-navbar-search {
    float: left;
    min-width: 400px;
    width: 40%;
    position: relative
}

.uk-notices {
    padding: 15px 0 4px;
    text-align: center
}

.uk-notices--entry {
    display: inline-flex;
    margin: 0 2%;
    padding: 0 18px 8px;
    border-radius: 8px
}

.uk-notices--entry p {
    font-size: 13px;
    margin: 0;
    padding: 9px 0 2px
}

.uk-notices--entry:first-child a {
    font-weight: 500
}

.uk-notices--entry p a {
    margin: 0 0 0 7px
}

.uk-notices--entry p a i {
    margin: 0 5px 0 0
}

form.uk-navbar-search i {
    font-size: 15px;
    position: absolute;
    z-index: 1;
    top: 23px;
    left: 12px;
}

ul.uk-navbar-top {
    text-align: right;
    float: right;
    margin: 19px 0 0
}

ul.uk-navbar-top li {
    display: inline-block;
    margin-left: 16px;
    font-size: 14px;
    letter-spacing: .25px
}

.uk-articles article.uk-article {
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    display: block;
    position: relative;
    max-width: 40%;
    margin: 0 1.638% 17px 0;
    overflow: hidden;
    width: 100%;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.06);
    padding: 80px 42px 100px
}

.uk-container.uk-articles {
    display: flex;
    flex-wrap: wrap
}

ul.uk-navbar-top li a {
    font-weight: 500;
    border-bottom: 0
}

.uk-container.uk-articles h1.uk-article-title {
    line-height: 1.46364;
    font-size: 22px;
    letter-spacing: 0;
    margin: 0 0 12px
}

.uk-articles .uk-margin-large-top {
    bottom: 24px;
    position: absolute;
    right: 24px;
    height: 23px;
    transition: all .2s ease-out
}

.uk-articles .uk-margin-large-top a {
    color: transparent;
    font-weight: 500
}

.uk-articles .uk-margin-large-top i {
    margin: 0 0 0 10px
}

.uk-article-page .uk-article-title {
    font-size: 2em;
    margin: .67em 0 12px 0
}

.uk-article-with-summary .uk-article-body,
.uk-article-with-summary .uk-article-summary {
    display: inline-block;
    vertical-align: top
}

.uk-article-with-summary .uk-article-body {
    width: 74%
}

.uk-article-with-summary .uk-article-summary {
    width: 20%;
    margin: 0 0 0 3%;
    border-left: 1px solid;
    padding: 60px 10px;
    min-height: 320px;
    position: sticky;
    top: 0
}

ul.uk-article-summary-list li {
    display: block;
    padding: 0 0 16px 0
}

.uk-container.uk-articles article.uk-article .uk-margin {
    line-height: 1.66667;
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 400
}

form.uk-navbar-search input[type="search"]:focus,
form.uk-navbar-search input[type="search"]:active {
    outline: 0
}

.uk-footer {
    padding: 40px 0 60px;
    margin-top: 60px
}

.uk-widgets {
    display: flex;
    margin: 0 0 20px
}

.uk-widgets--area {
    width: 100%
}

.uk-brand--small {
    width: 101px;
    height: 30px;
    display: block;
    float: none
}

.uk-copyright p {
    line-height: 16px;
    font-size: 12px;
    margin: 0 0 12px
}

.uk-opensource {
    display: block;
    margin: 9px 0 0 3px;
    font-size: 12px
}

.uk-copyright {
    padding: 5px 0 0
}

.uk-sitemap ul,
.lhb-sitemap li {
    display: block;
    margin: 0;
    padding: 0
}

.uk-sitemap li {
    font-size: 14px
}

.uk-sitemap li a {
    padding: 6px 0;
    display: inline-block;
    border-bottom: 0
}

.uk-sitemap li {
    font-size: 14px
}

.uk-sitemap ul,
.uk-sitemap li {
    display: block;
    margin: 0;
    padding: 0
}

.uk-brand.lhb-brand--small {
    background-image: url(/storage/brand.svg);
    width: 131px;
    height: 30px;
    display: block;
    float: none;
    background-size: cover
}

.uk-disclaimer p {
    line-height: 17px;
    font-size: 12px;
    padding: 0;
    margin: 0 0 7px
}

.uk-sitemap--divider {
    height: 30px
}

.uk-sitemap ul {
    margin: 0 0 20px
}

.uk-sitemap h3 {
    margin: 0 0 10px
}

.uk-articles-categories div {
    background-repeat: no-repeat;
    margin: 0 8px 0 0;
    display: inline-table;
    background-position: 0 5px
}

.uk-article-page .uk-articles-categories {
    margin: 0;
    padding: 6px 13px;
    font-size: 14px;
    border-radius: 20px;
    display: inline-block
}

table {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-spacing: 0;
    border-collapse: collapse
}

thead th {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: left;
    padding: 10px 21px 13px;
    font-weight: 500;
    font-size: 12px
}

table td {
    padding: 7px 13px;
    border-width: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 13px
}

.uk-search-page .uk-panel-box {
    border-radius: 4px;
    overflow: hidden;
    height: 39px;
    box-shadow: none;
    transition: all .2s ease-out
}

.uk-search-page label[for="search_searchword"] {
    display: none
}

.uk-search-page button.uk-button.uk-button-primary {
    font-size: 15px;
    padding: 0 17px;
    border-radius: 4px;
    line-height: 33px;
    min-height: 35px
}

.uk-search-page input.inputbox {
    border-radius: 4px;
    padding: 0 17px;
    width: calc(100% - 120px)
}

.uk-search-page .uk-panel.uk-panel-box fieldset .uk-form-row {
    margin: 0 auto;
    padding: 0 0 28px
}

.uk-search-page .uk-form legend {
    font-size: 13px;
    line-height: 23px;
    padding: 0 0 9px
}

.uk-search-page .uk-form-row .ordering {
    font-size: 13px
}

.uk-search-page .uk-form-row .ordering+select {
    font-size: 12px;
    padding: 2px 5px;
    height: 25px;
    border-radius: 4px
}

.uk-search-page .uk-form-row label {
    font-size: 11px;
    margin: 0 19px 0 0
}

.uk-search-page .uk-form-row label input {
    position: relative;
    top: 2px
}

.uk-search-page .uk-panel-box:hover {
    height: 270px;
    transition: all .2s ease-out
}

.uk-search-page strong {
    font-weight: 400;
    font-size: 13px
}

.uk-search-page span.uk-badge.uk-badge-info {
    font-size: 13px;
    background: transparent;
    font-weight: 500;
    padding: 0 4px
}

.uk-search-page .limit {
    font-size: 1px
}

.uk-search-page label[for="limit"] {
    font-size: 12px
}

.uk-search-page label[for="limit"]+select {
    border-radius: 3px;
    font-size: 11px
}

.uk-search-page article.uk-article h1.tm-article-title.uk-article-title {
    font-size: 17px;
    font-weight: 500;
    line-height: 10px
}

.uk-search-page article.uk-article+.uk-article {
    margin-top: 0;
    padding-top: 20px
}

.uk-search-page article.uk-article {
    padding: 20px 20px
}

.uk-portal {
    padding: 30px 20px
}

.uk-portal--header {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid
}

.uk-portal--header h1 {
    font-size: 41px;
    margin: 31px 0 -10px
}

.uk-portal--content {
    padding: 20px 10px
}

.uk-portal--content-section {
    max-width: 490px;
    margin: 0 auto 60px;
    text-align: center;
    line-height: 25px;
    font-size: 17px
}

.uk-portal--content-section--blocks {
    max-width: 1020px
}

.uk-portal--content-section--blocks-entry {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding: 17px 5px 0
}

.uk-portal--content-section--blocks-entry i {
    display: block;
    margin: 0 0 20px
}

.uk-portal--content-section--blocks-entry:hover {
    cursor: default
}

.uk-portal--content-section--list ul li {
    display: inline-block;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    max-width: 330px;
    width: 100%;
    min-height: 174px;
    padding: 24px 15px 10px;
    margin: 0 5px 10px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .03)
}

.uk-portal--content-section--list {
    max-width: 1310px
}

.uk-portal--content-section--list ul li i {
    margin-top: -6px;
    position: relative;
    top: 6px
}

.uk-portal--content-section--list ul li .uk-action {
    border: 1px solid;
    padding: 1px 12px;
    border-radius: 20px;
    display: inline-block;
    margin: 0 2px 10px
}

.uk-portal--footer {
    text-align: center;
    padding: 30px 10px
}

.uk-portal--footer p {
    font-size: 15px;
    line-height: 29px
}

.uk-portal--footer .uk-portal--foter-sign {
    font-family: yellowtail, cursive;
    font-size: 26px;
    margin-bottom: 120px;
    margin-top: 20px
}

.uk-portal--footer-disclaimer {
    font-size: 12px;
    opacity: .9
}

.uk-navbar-search-results .uk-panel-box {
    display: none
}

.uk-navbar-search-results {
    position: absolute;
    max-height: 320px;
    overflow: auto;
    border: 1px solid;
    max-width: 458px;
    box-shadow: 0 3px 8px -4px rgba(0, 0, 0, 0.15);
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.uk-navbar-search-results .uk-float-right.uk-clearfix {
    display: none
}

.uk-navbar-search-results .uk-margin-top {
    margin-top: 4px !important;
    padding: 0 15px
}

.uk-navbar-search-results p.counter {
    display: none
}

.uk-navbar-search-results .uk-margin-bottom {
    margin-bottom: 0 !important
}

.uk-navbar-search-results article.uk-article h1.tm-article-title.uk-article-title {
    line-height: 21px;
    font-size: 12px;
    margin: 0 0 0 0 !important
}

.uk-navbar-search-results .uk-article-content.uk-margin {
    margin: 7px 0 0;
    font-size: 12px;
    line-height: 17px
}

.uk-navbar-search-results ul.uk-article-meta.uk-subnav.uk-subnav-line {
    display: none
}

.uk-navbar-search-results article.uk-article {
    padding: 7px 18px 10px !important
}

.uk-navbar-search-results .error {
    font-size: 11px;
    padding: 7px 10px 10px;
    line-height: 14px
}

form.uk-navbar-search .uk-navbar-search-results i {
    margin: -3px 0 0 0
}

.uk-article-text img {
    display: block;
    margin: 0 auto
}

ul.uk-article-summary-list li a.H3,
ul.uk-article-summary-list li a.H4 {
    font-size: 14px;
    padding: 0 0 0 20px;
    display: block;
    position: relative
}

ul.uk-article-summary-list li a.H3::before,
ul.uk-article-summary-list li a.H3::after,
ul.uk-article-summary-list li a.H4::before,
ul.uk-article-summary-list li a.H4::after {
    content: "";
    display: block;
    position: absolute;
    left: 0
}

ul.uk-article-summary-list li a.H3::before,
ul.uk-article-summary-list li a.H4::before {
    width: 10px;
    height: 1px;
    top: 14px
}

ul.uk-article-summary-list li a.H3::after,
ul.uk-article-summary-list li a.H4::after {
    height: 10px;
    width: 1px;
    top: 4px
}

.uk-container.uk-articles article.uk-article:first-child {
    max-width: initial
}

.uk-container.uk-articles article.uk-article:first-child .uk-article-title {
    font-size: 29px
}

.uk-container.uk-articles .uk-article:first-child .uk-margin {
    font-size: 19px
}

.uk-container.uk-articles .uk-article:first-child .uk-margin-large-top a {
    color: initial;
    font-size: 17px
}

.uk-container.uk-articles .uk-article:first-child .uk-margin-large-top a i {
    position: relative;
    top: -1px
}

@media(prefers-color-scheme:dark) {
    .tm-navbar:not(.uk-active)::after {
        content: "Beta dark mode";
        position: fixed;
        top: initial;
        bottom: 0;
        right: 0;
        display: block;
        padding: 7px 15px;
        margin: 10px;
        border-radius: 4px
    }
}