#search-form {
    border-radius: .375rem;
    box-shadow: .0625rem .125rem .25rem 0 rgba(0, 0, 0, 0.06);
    margin: 0 0 1.25rem
}

#search-form .uk-margin-top {
    margin: 0 0 2.5rem .875rem;
    padding: .625rem 0 1.25rem
}

.uk-search-page article {
    padding: .625rem;
    border-bottom: .0625rem solid
}

.uk-search-page article>h1 {
    font-size: 1.125rem
}