/* Yellowtail */
@font-face {
    font-family: 'Yellowtail';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local('Yellowtail Regular'), local('Yellowtail-Regular'), url(../fonts/Yellowtail/Yellowtail-Regular.ttf) format('truetype');
}

/* Heebo */
@font-face {
    font-family: 'Heebo';
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: local('Heebo Light'), local('Heebo-Light'), url(../fonts/Heebo/Heebo-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Heebo';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local('Heebo Regular'), local('Heebo-Regular'), url(../fonts/Heebo/Heebo-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Heebo';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: local('Heebo Medium'), local('Heebo-Medium'), url(../fonts/Heebo/Heebo-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Heebo';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: local('Heebo Bold'), local('Heebo-Bold'), url(../fonts/Heebo/Heebo-Bold.ttf) format('truetype');
}

