@media screen and (max-width:46.5625em) {

    header>div,
    main,
    footer>div {
        padding: 0 .625rem .6rem;
        max-width: initial;
    }

    header>div>a {
        width: 2.2125rem;
        height: 3rem;
        position: relative;
        overflow: hidden;
    }

    header>div>a>img {
        position: absolute;
        width: 8.75rem;
        max-width: initial
    }

    header>div>form {
        margin-top: .5625rem;
        width: calc(100% - 60px);
    }

    header>nav {
        display: none
    }

    main>div>article {
        padding: 1.25rem 1.25rem 5rem;
        max-width: initial;
        width: initial;
        margin: 0 .75rem .75rem
    }

    main>div>article>h2+span+p+div+span {
        padding: 1.25rem 1.125rem
    }

    main>article.hasSummary {
        max-width: initial;
        margin: initial;
        padding: 0 1.25rem;
        border-right: initial
    }

    main>article>h1 {
        margin: .1em 0 .75rem
    }

    #principles>div {
        display: initial;
        max-width: initial;
        width: initial
    }

    main>article>div ul>li {
        line-height: 1.625rem
    }

    footer>div>div {
        flex: initial
    }

    article>div>div {
        width: initial;
        display: block;
        margin: 0 auto
    }

    footer>div {
        display: block;
        text-align: center
    }

    header>div>ul,
    main>aside {
        display: none
    }

    main>div,
    main {
        display: block;
    }
}