.tag {
    padding: 0 0 0 1.25rem;
    background-repeat: no-repeat;
    margin: 0 0.875rem 0 0;
    display: inline-table;
    background-position: 0 0.3125rem
}

.tag.nginx {
    background-image: url("../images/tags/icon_nginx.png");
    color: #009830
}

.tag.debian {
    background-image: url("../images/tags/icon_debian.png");
    color: #d90150
}

.tag.apache {
    background-image: url("../images/tags/icon_apache.png");
    color: #84206f
}

.tag.mysql {
    background-image: url("../images/tags/icon_mysql.png");
    color: #00618b
}

.tag.ubuntu {
    background-image: url("../images/tags/icon_ubuntu.png");
    color: #ff6209
}

.tag.nodejs {
    background-image: url("../images/tags/icon_nodejs.png");
    color: #8cc84b
}

.tag.mongodb {
    background-image: url("../images/tags/icon_mongodb.png");
    color: #1e8f36
}

.tag.chromeos {
    background-image: url("../images/tags/icon_chromeos.png");
    color: #3582ea
}

.tag.centos {
    background-image: url("../images/tags/icon_centos.png");
    color: #232278
}

.tag.fedora {
    background-image: url("../images/tags/icon_fedora.png");
    color: #243f72
}

.tag.letsencrypt {
    background-image: url("../images/tags/icon_letsencrypt.png");
    color: #ffa403
}

.tag.netcore {
    background-image: url("../images/tags/icon_netcore.png");
    color: #6c429c
}

.tag.vestacp {
    background-image: url("../images/tags/icon_vestacp.png");
    color: #505050
}

.tag.python {
    background-image: url("../images/tags/icon_python.png");
    color: #336b99
}

.tag.php {
    background-image: url("../images/tags/icon_php.png");
    color: #4c6394
}

.tag.nextcloud {
    background-image: url("../images/tags/icon_nextcloud.png");
    color: #118acc
}

.tag.github {
    background-image: url("../images/tags/icon_github.png");
    color: #24292e
}

.tag.gnome {
    background-image: url("../images/tags/icon_gnome.png");
    color: #24292e
}

.tag.arch.linux,
.tag.archlinux {
    background-image: url("../images/tags/icon_archlinux.png");
    color: #1793d1
}

.tag.natale {
    background-image: url("../images/tags/icon_christmas.png");
    padding: 0 0 0 1.125rem;
    color: #ea6b77
}

.tag.utilizzo.del.comando {
    background-image: url("../images/tags/icon_utilizzo_del_comando.png");
    padding: 0 0 0 1.3125rem;
    color: #191919
}