@media (prefers-color-scheme:dark) {
    .hljs {
        display: block;
        overflow-x: auto;
        padding: .5em;
        color: #abb2bf;
        background: #282c34
    }

    .hljs-keyword,
    .hljs-operator {
        color: #F92672
    }

    .hljs-pattern-match {
        color: #F92672
    }

    .hljs-pattern-match .hljs-constructor {
        color: #61aeee
    }

    .hljs-function {
        color: #61aeee
    }

    .hljs-function .hljs-params {
        color: #A6E22E
    }

    .hljs-function .hljs-params .hljs-typing {
        color: #FD971F
    }

    .hljs-module-access .hljs-module {
        color: #7e57c2
    }

    .hljs-constructor {
        color: #e2b93d
    }

    .hljs-constructor .hljs-string {
        color: #9CCC65
    }

    .hljs-comment,
    .hljs-quote {
        color: #b18eb1;
        font-style: italic
    }

    .hljs-doctag,
    .hljs-formula {
        color: #c678dd
    }

    .hljs-section,
    .hljs-name,
    .hljs-selector-tag,
    .hljs-deletion,
    .hljs-subst {
        color: #e06c75
    }

    .hljs-literal {
        color: #56b6c2
    }

    .hljs-string,
    .hljs-regexp,
    .hljs-addition,
    .hljs-attribute,
    .hljs-meta-string {
        color: #98c379
    }

    .hljs-built_in,
    .hljs-class .hljs-title {
        color: #e6c07b
    }

    .hljs-attr,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-type,
    .hljs-selector-class,
    .hljs-selector-attr,
    .hljs-selector-pseudo,
    .hljs-number {
        color: #d19a66
    }

    .hljs-symbol,
    .hljs-bullet,
    .hljs-link,
    .hljs-meta,
    .hljs-selector-id,
    .hljs-title {
        color: #61aeee
    }

    .hljs-emphasis {
        font-style: italic
    }

    .hljs-strong {
        font-weight: bold
    }

    .hljs-link {
        text-decoration: underline
    }

    header,
    main>div>article,
    footer,
    pre,
    blockquote,
    main>article>span+div,
    #search-form,
    article>div>div:not(.tag) {
        background-color: #151617
    }

    pre {
        border-color: #151617
    }

    input,
    textarea,
    select {
        background-color: #1b1c1d
    }

    header a,
    main>div>article>p,
    main>div>article>h1+span,
    footer {
        color: #999
    }

    main>article.hasSummary,
    blockquote,
    .uk-search-page article {
        border-color: #3b3b3b
    }

    header>div>a>img,
    .icon,
    .tag,
    footer>div>div>a>img {
        filter: brightness(0) invert();
    }

    header>div>form>.icon,
    footer li>a,
    main>aside>ul>li>a {
        opacity: .4
    }

    footer li:hover>a,
    main>aside>ul>li:hover a,
    main>aside>ul>li>a.active {
        opacity: 1
    }

    header>div>form:hover>.icon,
    header>div>form>input:focus+.icon,
    header>div>form>input:active+.icon,
    header>div>a>img,
    .tag,
    footer>div>div>a>img,
    footer a {
        opacity: .8
    }

    body,
    input:focus,
    textarea:focus,
    select:focus,
    input:active,
    textarea:active,
    select:active,
    header>div>nav>ul>li.selected,
    button,
    input[type="submit"] {
        background-color: #1b1c1d
    }

    a,
    body,
    input,
    textarea,
    select,
    header>div>nav>ul>li.selected a,
    main>div>article:first-child>a:last-child,
    main>div>article:hover>a:last-child,
    header>div>nav>ul>li:hover>a,
    header>div>ul>li:hover>a,
    footer h3,
    footer li>a,
    main>aside>ul>li>a.active,
    button,
    input[type="submit"] {
        color: #fff
    }

    input:focus,
    textarea:focus,
    select:focus,
    input:active,
    textarea:active,
    select:active,
    main>div>article:hover {
        box-shadow: inset 0 0 0 2px #27292a
    }

    main>div>article>a:last-child {
        color: transparent
    }

    main>article>div p,
    main>article>div h2,
    main>article>div h3,
    main>article>div h4,
    pre,
    code.hljs,
    main>article>div ul>li {
        color: #c6c7cc
    }

    em,
    :not(pre)>code {
        color: #ff6873
    }

    :not(pre)>code {
        border-color: #f0615c
    }

    span.hljs-string {
        color: #3b70ae
    }
}
