@media (prefers-color-scheme:light) {
    .hljs {
        display: block;
        overflow-x: auto;
        padding: .5em;
        color: #383a42;
        background: #fafafa
    }

    .hljs-comment,
    .hljs-quote {
        color: #a0a1a7;
        font-style: italic
    }

    .hljs-doctag,
    .hljs-keyword,
    .hljs-formula {
        color: #a626a4
    }

    .hljs-section,
    .hljs-name,
    .hljs-selector-tag,
    .hljs-deletion,
    .hljs-subst {
        color: #e45649
    }

    .hljs-literal {
        color: #0184bb
    }

    .hljs-string,
    .hljs-regexp,
    .hljs-addition,
    .hljs-attribute,
    .hljs-meta-string {
        color: #50a14f
    }

    .hljs-built_in,
    .hljs-class .hljs-title {
        color: #c18401
    }

    .hljs-attr,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-type,
    .hljs-selector-class,
    .hljs-selector-attr,
    .hljs-selector-pseudo,
    .hljs-number {
        color: #986801
    }

    .hljs-symbol,
    .hljs-bullet,
    .hljs-link,
    .hljs-meta,
    .hljs-selector-id,
    .hljs-title {
        color: #4078f2
    }

    .hljs-emphasis {
        font-style: italic
    }

    .hljs-strong {
        font-weight: bold
    }

    .hljs-link {
        text-decoration: underline
    }

    header {
        box-shadow: 0 3px 8px -4px rgba(0, 0, 0, .15)
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    fieldset,
    .uk-search-page article>h1>a {
        color: #3a3a3a
    }

    header,
    main>div>article,
    footer,
    pre,
    blockquote,
    main>article>span+div,
    #search-form {
        background-color: #fff
    }

    button,
    input[type="submit"] {
        background-color: #3a3a3a
    }

    button,
    input[type="submit"] {
        color: #fff
    }

    pre {
        border-color: #e5e5e5
    }

    input,
    textarea,
    select {
        background-color: #f5f5f5
    }

    header a,
    main>div>article>p,
    main>div>article>h1+span,
    footer {
        color: #4f5e81
    }

    main>article.hasSummary,
    blockquote,
    .uk-search-page article {
        border-color: #d2d2d2
    }

    header>div>form>.icon,
    footer li>a,
    main>aside>ul>li>a {
        opacity: .7
    }

    footer li:hover>a,
    main>aside>ul>li:hover a,
    main>aside>ul>li>a.active {
        opacity: 1
    }

    body,
    input:focus,
    textarea:focus,
    select:focus,
    input:active,
    textarea:active,
    select:active {
        background-color: #f8f8f8
    }

    body,
    input,
    textarea,
    select,
    main>div>article:first-child>a:last-child,
    main>div>article:hover>a:last-child,
    footer h3,
    footer li>a,
    main>aside>ul>li>a.active {
        color: #151515
    }

    input:focus,
    textarea:focus,
    select:focus,
    input:active,
    textarea:active,
    select:active,
    main>div>article:hover {
        box-shadow: inset 0 0 0 2px #ececec
    }

    main>div>article>a:last-child {
        color: transparent
    }

    main>article>div p,
    main>article>div h2,
    main>article>div h3,
    main>article>div h4,
    pre,
    code.hljs,
    main>article>div ul>li {
        color: #333333
    }

    em,
    :not(pre)>code,
    .uk-search-page article>h1:hover>a {
        color: #ff6873
    }

    :not(pre)>code {
        border-color: #f0615c
    }

    a,
    header>div>nav>ul>li.selected a,
    header>div>nav>ul>li:hover>a,
    header>div>ul>li:hover>a {
        color: #fe1804
    }

    header>div>form>.icon,
    footer li>a,
    main>aside>ul>li>a {
        color: #2c2c2c
    }

    header>div>nav>ul>li.selected {
        background-color: #ffece1
    }
}