#about>h1,
#about>p {
    text-align: center;
}

#about>h1::after {
    content: "";
    display: block;
    border-bottom: 1px solid;
    margin: 10px auto 0;
    max-width: 300px;
}

#about>h1 {
    margin: 0 0 10px 0;
    font-size: 1.9em;
}

#about>section {
    text-align: center;
    max-width: 740px;
    margin: 0 auto;
}

main>article {
    width: 100%;
}

#about>section>p {
    line-height: 30px;
    margin: 0 0 10px 0;
}

#principles>div>p {
    line-height: 21px;
    font-size: 15px;
}

section#principles {
    margin: 50px auto 0;
    max-width: 1060px;
}

#principles>div {
    display: inline-table;
    width: 29%;
    padding: 10px 10px;
    max-width: 349px;
}

#about>section+div {
    text-align: center;
    padding: 70px 0 30px 0;
}

#about>section+div>small {
    font-style: italic;
    font-weight: 500;
    font-size: 19px;
}