main {
    margin: 0;
    max-width: initial;
    display: block;
    padding: 0;
}

section>div {
    max-width: 69rem;
    margin: 0 auto;
    padding: 7rem 2rem;
}

section>div>h2 {
    font-size: 2.3rem;
    margin: 0 0 2rem 0;
}

section>div>p {
    font-size: 1.205rem;
    line-height: 41px;
    margin: 0 0 .5rem 0;
}

section:nth-child(even) {
    text-align: right;
}

section>div>fieldset {
    padding: 1rem 0;
    margin: 0 -.2rem;
}

section>div>fieldset>a {
    padding: .7rem 1.4rem;
    display: inline-table;
    border-radius: 4px;
    font-weight: 500;
}

section {
    background-attachment: fixed;
    background-size: cover;
}

article>small {
    text-align: center;
    display: block;
    font-size: .8rem;
    font-style: italic;
}