article {
    text-align: center
}

article>div>div {
    display: inline-table;
    width: 32%;
    max-width: 18.25rem;
    vertical-align: top;
    margin: 0 .5rem 2rem;
    border: 1px solid #8e8e8e42;
}

article>div>div ul>li {
    display: block
}

article>div>div ul {
    margin: 0;
    padding: 0 0 1.875rem
}

article>div>div>div {
    padding: .625rem 1.25rem;
    font-style: italic;
    font-size: .75rem
}

@media screen and (max-width:46.5625em) {
    .roles div {
        display: block;
        width: initial;
        margin: 0 auto 1.25rem
    }
}